body {
    margin: 0px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    background: cadetblue;
  }
  
  #root {
    height: 100vh;
    width: 100vw;
  }
  
  .app {
    height: 100%;
  
  }
  

  .content-container{
    overflow: scroll !important;
  }

  .flexlayout__tab_toolbar {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .flexlayout__tabset_tabbar_inner.flexlayout__tabset_tabbar_inner_top{
    overflow: visible !important;
  }
  .flexlayout__tab_toolbar{
    display: none !important;
  }

  